.menu{
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
}

.menu a{
    text-decoration: none;
}

.social{
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.menu-item{
    color: #000;
    background: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    margin-left: 25px;
}

@media(max-width: 735px){
    .menu{
        width: 80%;    
    }
    .menu-item{
        margin-left: 50%;
        font-size: 12px;
        max-width: 150px;
        width: 100%;
        padding: 8px 8px;
        text-align: center;
    }
}